{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
    <h1>登入</h1>
    <form action="" method="post" novalidate style="display: inline-block; text-align: left;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=48) }}
            {% for error in form.username.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=64)}}
            {% for error in form.password.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }}{{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p>沒有帳戶? <a href="{{ url_for('register') }}">加入會員!</a></p>
    </form>
</div>
{% endblock %}